<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color : lightblue;
        }

        #form{
            background-color :white;
            width:50%;
            margin : 150px auto;
            padding: 50px;
            box-shadow: 10px 10px 5px rgb(82,22,77);
            border-radius:4px;
        }
      
        </style>
</head>
<body>


<nav class="navbar">
            <ul>
                <li><a href="/register">REGISTER</a></li>
                
           </ul>
        </nav><br>

       
        
    <div   id ="form">
        <h1> Login </h1>
        <form name ="form" action ="" method ="POST" autocomplete="off">
            <label>Username:</label>
            <input type="text" id="user" name ="user"required><br> <br>
            <label>Password</label>
            <input type="password" id="pass" name ="pass"required><br> <br>
            <input type ="submit" id="btn" value ="Login" name="submit">
    </div>
    </form>
        
            

</body>
</html>